
.main-account-cards-cont{
    display: flex;
    flex-direction: column;
}

.main-account-cards-cont .ma-user-details{
    width: 100%;
    max-width: none;
    margin-bottom: 30px;
}

.account-cards-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 0px 10px;
  width: 100%;
  padding: 10px 0;
}

.account-card {
  background-color: rgb(48, 48, 48);
  background-position: calc(100% - 3px) calc(90% + 12px);
  background-repeat: no-repeat;
background-size: 110px auto; 

  border: 1px solid rgb(48, 48, 48);
  border-bottom: 2px solid #8C5CE8;
  border-radius: 5px;

  box-sizing: border-box;
  color: rgb(225, 225, 225);
  font-family: Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 21px;

  width: 100%;
  height: 160px;

  margin: 0 0 30.4px 0;
  padding: 40px 20px;
  cursor: pointer;
}

.account-card-title{
  box-sizing: border-box;
  color: rgb(225, 225, 225);
  color-scheme: dark;
  font-size: 20px;
  font-weight: 400;
  line-height: 21px;
  margin-bottom: 15px;
}

.account-card-overview{
  box-sizing: border-box;
  color: rgb(225, 225, 225);
  color-scheme: dark;
  font-family: Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 21px;
}