html, body, #root {
  height: 100vh;  
  position: relative;  
  overflow-x: hidden;  
  margin: 0;
  padding: 0;
}

body{
  display: flex;
  flex-direction: column;
  font-family: 'Inter', 'Segoe UI', sans-serif;
  background-color: #0e0e0e; 
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

h1, p {
  margin: 0px;
}

.main-page-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin: 0px auto;
  max-width: 95%;
  color: #EAE6F8; 
  padding-bottom: 50px;
  gap: 10px
}



.ad{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 10px;
  padding-bottom: 8px;
  background-repeat: no-repeat;
  background-size: cover;
  width: 95%;
  aspect-ratio: 21 / 4.5 ;   
  height: auto; 
  margin-top: 40px;
  border: none;
  margin-bottom: 30px;
}

.image-btn-cont{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.image-btn-cont button {
  border: none;
  border-radius: 25px;
  padding: 10px 18px;
  font-size: 22px;
  cursor: pointer;
  background-color: rgba(138, 138, 138, 0.7); 
  color: #333; 
  transition: background-color 0.2s ease;
}

.image-btn-cont button:hover {
  background-color: rgba(146, 146, 146, 0.9); 
}

.image-dot-cont {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

/* Dots */
.image-dot {
  width: 10px;
  height: 10px;
  background-color: white;
  opacity: 0.6;
  border-radius: 50%;
  border: 1px solid gray;
}

.image-dot.active{
  border: 3px solid #6e3fd3;
}

.noti-cont{
  position: relative;
  width: 90%;
  margin: 20px auto;
  margin-bottom: 30px;
  background-color: #161616;
  padding: 20px;
  z-index: 100;
}

@media(max-width: 880px){
  .ad{
    display: none;
    margin-top: 0;
  }
}

@media(max-width: 744px){
  .main-page-cont{
    width: 100%;
    justify-content: start;
    align-items: start;
  }
}

