/* General Reset */
*, *::before, *::after {
  box-sizing: border-box;
}

/* Navbar Container */
.navbar-cont {
  display: flex;
  flex-direction: column;
  background-color: #0a0a0f;
  padding-top: 10px;
  width: 100%;
  margin-bottom: 50px;
}

/* Search Bar */
.searchbar-cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
  gap: 15px;
  margin-bottom: 10px;
}

.logo {
  display: flex;
  color: white;
  font-size: 35px;
  margin: 0;
  white-space: nowrap;
  flex-shrink: 0;
  min-width: max-content;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: stretch;
  width: 90%;
}

.search input {
  background-color: rgb(65, 65, 65);
  color: rgb(165, 165, 165);
  font-size: 15px;
  border: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  padding: 13px 8px;
  width: 100%;
  max-width: 90%;
}

.search input:focus {
  outline: none;
}

.search button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8C5CE8;
  color: white;
  border: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 0 10px;
  font-size: 14px;
  cursor: pointer;
}

.search button:hover {
  background-color: #6C3FBF;
}

.search button svg{
  width: 22px;
}

/* Navbar Links */
.navbar-links {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #8C5CE8;
  color: white;
  padding: 0 60px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: Arial, Helvetica, sans-serif;
  user-select: none;
}

.navbar-link, .all-cates {
  font-size: 12px;
  color: white;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  outline-offset: 3px;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  gap: 8px;
  height: 37px;
  text-align: center;
  padding: 8px 18px;
  font-weight: 600;
}

.navbar-link:hover,
.navbar-link:focus {
  background-color: #49366d;
  color: #fff;
  outline: none;
}

.navbar-link:focus-visible {
  outline: 2px solid #fff;
}

.nav-item {
  width: 180px;
}

.all-cates{
  background-color: #6C3FBF;
  width: 200px;
  font-size: 14px;
}

.all-cates svg {
  width: 20px;
  height: fit-content;
}

/* Navbar Buttons */
.navbar-btns-cont {
  display: flex;
  gap: 25px;
}

.navbar-button {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: 10px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  max-width: 100px;
}

.navbar-button span{
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  overflow: hidden;
}

.notification {
  position: absolute;
  top: -8px;
  right: 5px;
  background-color: #8C5CE8;
  color: white;
  width: 20px;
  height: 20px;
  font-size: 12px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-button svg{
  width: 20px;
  height: 20px;
}


/* Responsive */
@media (max-width: 786px) {
  .search {
    margin: 0 auto;
  }

  #logo {
    display: none;
  }
}

@media (max-width: 770px) {
  .navbar-cont {
    display: none;
  }
}