.main-products-cont{
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  box-sizing: border-box;
  gap: 10px;
}

.filter-products-cont{
  display: flex;
  box-sizing: border-box;
  height: 100%;
  padding: 0px 30px;
}

.main-products-cont hr{
  border: none;
  height: 1px;
  background-color: #523da5;
  width: 100%;
  margin: 12px 0;
  margin-bottom: 20px;
}

.products-cont-wrapper, .b-products-cont-wrapper{
  width: 100%;
  box-sizing: border-box;
}

#products-page-title{
  font-size: 27px;
  margin-bottom: 30px; 
  color: white;
  font-weight: normal;
}

.vr{
  width: 1px;
  align-self: stretch;
  margin: 0px 14px;
  border: 1px solid #A084DC;
}

#clear-rv-btn{
  align-items: center;
  height: fit-content;
  width: fit-content;
  padding: 8px 12px;
  border: 1px solid #A084DC;
  color: white;
  background-color: #2a203b;
  cursor: pointer;
}

#clear-rv-btn:hover{
  border-color: #C9A4FF;
  background-color: #2a203b;
}


@media(max-width: 766px){
  
  .main-products-cont{
    padding-top: 20px;
  }

  .products-cont-wrapper, .b-products-cont-wrapper{
    width: 100%;
    padding: 0px;
  }

  .pc-filtering-container, .vr{
    display: none;
  }

  #products-page-title{
    font-size: 20px;
  }
}


